.main-container {
    width: 632px;
    height: 380px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 8px grey;
    background-color: white;
}

#b1{
   
     display: inline-block; width: 10%; border-radius: 10px; padding: 10px 10px; 
}
#b2{
    
    display: inline-block; width: 18%; border-radius: 10px; padding: 10px 10px; 
}
.container{
    width: 80%;
}