#EmailError{
    position:absolute;
    align-content: center;
    right:515px;
    top:163px;
    height: 30px;
    background-color: white;
     border-color: white;
    
}
#NumberError{
    position:absolute;
    align-content: center;
    right:502px;
    top:250px;
    height: 30px;
    background-color: white;
     border-color: white;
    
}